@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/montserratregular.woff2") format("woff2"),
  url("/fonts/Montserrat/montserratregular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat/montserratmedium.woff2") format("woff2"),
  url("/fonts/Montserrat/montserratmedium.woff2") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat/montserratsemibold.woff2") format("woff2"),
  url("/fonts/Montserrat/montserratsemibold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
}

.no-scrool {
  overflow-y: hidden;
}

img {
  display: block;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 100%;
  padding-inline: 20px;
}

.list-unstyled {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

/* site header styles */

.site-header {
  border-bottom: 1.5px solid #E5E7EA;
  background: #FFF;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  
}

/* .site-header__logo-img {
  width: 108px;
  height: 29px;
} */

.hamburg-btn {
  width: 40px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000;
  border-inline: none;
  background-image: url("/images/hamburgericon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.show-menu .navigation {
  /* display: flex; */
  left: 0;
}

.show-menu .site-header__logo-img {
  display: none;
}

.show-menu .hamburg-btn {
  display: none;
}

.navigation {
  display: flex; 
  position: fixed;
  background-color: #fff;
  top: -4px;
  left: 100%;
  z-index: 2;
  right: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 100vh;
  padding-inline: 20px;
  flex-direction: column;
  transition: left 0.3s linear;
}

.navigation__start {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  /* padding-inline: 20px; */
  
}

.hamburg-close {
  background-image: url("/images/closeicon.svg");
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.navigation__wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  /* padding-inline: 20px; */
}

.navbar {
}


.navbar__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.navbar__link {
  text-decoration-line: none;
  color: #000;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation__tel {
  text-decoration-line: none;
  color: var(--Text-Primary, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.darkmode-btn {
  background-image: url("/images/moonicon.svg");
  width: 22px;
  height: 22px;
  padding: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}

.login-link {
  display: inline-flex;
  text-decoration-line: none;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 18px 30px;
  border-radius: 100px;
  background: #299764;
}

.login-link::after {
  background-image: url("/images/loginafterimg.svg");
  width: 22px;
  height: 22px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: 4px 0;
  margin-left: 8px;
  margin-top: 0;
}

.navigation__bottom {
  display: flex;
  /* padding-right: 20px; */
  text-align: left;
  align-items: center;
  margin-top: 145px;
  column-gap: 16px;
  padding-left: 20px;  
}

.navbar__dropdown {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.dropdown__link {
  text-decoration-line: none;
  color: #555;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* site main styles  */

.hero {
  padding-top: 10px;
}

.hero__img {
  width: 242px;
  border-radius: 15px;
}

.hero__text-wrapper {
  position: absolute;
  width: 216px;
  top: 100px;
  left: 32px;
  margin-inline: auto;
}

.hero__title {
  margin: 0;
  margin-bottom: 6px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero__desc {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__search {
  width: 234px;
  color: #555;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  padding-block: 20px;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.form {
  position: relative;
  top: -30px;
  left: 4px;
}

.form__btn {
  background-image: url("/images/formsearchicon.svg");
  background-size: cover;
  background-position: center;
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: relative;
  left: 184px;
  bottom: 49px;
}

.table-pict {
  display: none;
}

.dreamcar {
  padding-top: 0;
  padding-bottom: 100px;
}

.dreamcar__text-wrapper {
  width: 240px;
  margin-inline: auto;
} 

.dreamcar__title-wrap {
  width: 200px;
  margin-inline: auto;
}

.dreamcar__title {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}

.dreamcar__desc {
  margin: 0;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dreamcar__list {
  display: flex;
  width: 240px;
  column-ga: 14px;
}

.dreamcar__link {
  text-decoration-line: none;
  color: #000;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-block: 14px;
  padding-inline: 14px;
  border-radius: 100px;
  border: 1.5px solid #E5E7EA;
  background: #FFF;
}

.dream-child {
  background-color: #299764;
  color: #fff;
}

.dreamcar__menu-wrapper {
  margin-top: 30px;
}

.cars {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  row-gap: 10px;
}

.cars__item {
  width: 245px;
  border-radius: 16px;
  background: #F5F5F5;
  padding-block: 24px;
  padding-inline: 20px 24px;
  margin-inline: auto;
}

.cars__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cars__desc {
  margin: 0;
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cars__img {
  width: 210px;
  height: 137px;
}

.features {
  display: flex;
  width: 233px;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 24px;
}

.features__item {
  font-size: 10px;
}

.features__item:nth-child(1):before {
  background-image: url("/images/usericon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 4px;
  margin-right: 5px;
}

.features__item:nth-child(2):before {
  background-image: url("/images/gearicon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 2px;
  margin-right: 5px;
}

.features__item:nth-child(2) {
  margin-left: 13px;
}

.features__item:nth-child(3):before {
  background-image: url("/images/fileusericon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 2px;
  margin-right: 5px;
}

.features__item:nth-child(4):before {
  background-image: url("/images/petrolicon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 2px;
  margin-right: 5px;
}

.dreamcar__view-link-wrap {
  text-align: center;
}

.dreamcar__view-link {
  text-decoration-line: none;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 18px 30px;
  gap: 8px;
  border-radius: 100px;
  background: #299764;
  margin-top: 30px;
  margin-inline: auto;
}

/* section community styles begin  */

.site-main {
  background-color: #F5F5F5;                                   
}

.hero {
  background-color: #fff;
}

.dreamcar {
  background-color: #fff;
  padding-bottom: 50px;
}

.community {
  background-color: #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.community__inner {
}

.community__text-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px 16px 0px 0px;
  background-color: #fff;
}

.community__span {
  color: #4285F4;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.community__span::before {
  background-image: url("/images/googleicon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 4px;
}

.community__title {
  margin: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 131.579% */
  margin-top: 10px;
}

.community__gradient {
  background-image: url("/images/gradient.svg");
  width: 100%;
  height: 2px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  margin-block: 20px;
}

.community__descs {
  color: #555;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 10px;
}

.instagram-link {
  text-decoration-line: none;
  width: 100px;
  height: 30px;
  background-image: url("/images/instagrampict.svg");
  display: inline-block;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  background-position: 0 0;
}

.instagram-link:hover {
  background-image: url("/images/propertyhover.svg");
}

.community__link {
}


.community__comments-wrapper {
  border-radius: 0px 0px 16px 16px;
  background-color: #299764;
  padding: 20px;
}

.community__comment {
  border-radius: 16px;
  background: #FFF;
  padding: 16px;
  position: relative;
}

.community__user {
  width: 180px;
  margin-left: 24px;
  position: relative;
}

.community__user::before {
  background-image: url("/images/avamen.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  top: 8px;
  left: -28px;
}

.community__user::after {
  background-image: url("/images/googleicon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 7px;
  right: 33px;
}

.community__desc {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.user__title {
  margin: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user__link {
  margin: 0;  
  color: #555;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.community__decs {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-block: 14px 32px;
  /* border-bottom: 1px solid #F5F5F5; */
}

.stars-wrapper {
  display: flex;
  column-gap: 10px;
}

.stars__list {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.stars__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stars__item {
  width: 10px;
  height: 10px;
  background-image: url("/images/staricon.svg");
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}

/* section community styles finish */


/* section brands styles begin */

.brands {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.brands__inner

.brands__title {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.brands__list {
  max-height: 360px;
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  background-color: transparent;
}

/* section brands styles finish */

/* section service styles begin   */

.service {
  background-color: #fff;
}

.service__inner {
  
}

.service__text-wrapper {
  width: 251px;
  margin-inline: auto;
  margin-bottom: 30px;
} 

.service__title {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}

.service__desc {
  margin: 0;
  color: #555;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.service__item {
  width: 240px;
  border-radius: 20px;
  background-color: #F5F5F5;
  padding-block: 30px;
  padding-left: 24px;
  position: relative;
}

.service__item-inner {
  width: 174px;
}

.service__item-inner::after {
  background-image: url("/images/bookonline.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  right: 25px;
  top: 32px;
}

.service__item-innerr::after {
  background-image: url("/images/shieldimg.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  right: 25px;
  top: 32px;
}

.service__item-innerrr::after {
  background-image: url("/images/userclock.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  right: 25px;
  top: 32px;
}

.service__item-innerrrr::after {
  background-image: url("/images/walleticon.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  right: 25px;
  top: 32px;
}

.service__list-title {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.service__list-desc {
  margin: 0;
  color: #555;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

/* section service styles finish  */

/* section safe styles begin  */

.safe {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1.5px solid #E5E7EA;
}

.safe__inner {
  border-radius: 20px;
  border: 1.5px solid #E5E7EA;
  background: var(--Background-White, #FFF);
  padding-block: 24px;
  padding-inline: 20px;
}

.safe__text-wrapper {
  width: 200px;
  margin-inline: auto;
  margin-bottom: 40px;
}

.safe__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
  width: 183px;
}

.safe__desc {
  margin: 0;
  color: #555;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.safe__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.safe__item {
  border-radius: 16px;
  background-color: #F5F5F5;
  padding-inline: 14px;
  padding-top: 70px;
  padding-bottom: 14px;
}

.safe__list-desc  {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.safe__item:first-child:after {
  background-image: url("/images/flaskicon.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  position: absolute;
  top: 22px;
  right: 10px;
}

.safe__item:nth-child(2):after {
  background-image: url("/images/heartbeat.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  position: absolute;
  top: 155px;
  right: 10px;
}

.safe__item:nth-child(3):after {
  background-image: url("/images/folderlock.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  position: absolute;
  top: 275px;
  right: 10px;
}

/* section safe styles finish  */

/* site footer styles begin  */

.site-footer {
  padding-top: 20px;
}

.footer__start-inner {
  /* display: flex;
  flex-wrap: wrap; */
}

.footer__logo-inner {
  width: 199px;
}

.footer__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  border-bottom: 1.5px solid #E5E7EA;
  padding-bottom: 32px;
}

.footer__logo {
  width: 100px;
  height: 26px;
}

.footer__desc {
  margin: 0;
  color: #555;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-top: 16px;
}


.footer__text {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
  row-gap: 12px;
}

.footer__link {
  text-decoration-line: none;
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__menu-wrapper:nth-child(1) {
  width: 93px;
  margin-bottom: 69px;
  margin-right: 71px;
}

.footer__menu-wrapper:nth-child(2) {
  width: 88px;
}

.footer__menu-wrapper:nth-child(3) {
  width: 79px;
  margin-right: 67px;
}

.footer__menu-wrapper:nth-child(4) {
  width: 204px;
}

.footer__bottom-inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  
}

.footer__time {
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.footer__bottom-text-wrap:nth-child(1) {
  margin-right: 30px;
}

.footer__bottom-text-wrap:nth-child(2) {
  
}

.footer__bottom-text-wrap:nth-child(3) {
  margin-top: 40px;
}

.hero__img {
  margin-inline: auto;
}

.service__item {
  margin-inline: auto;
}

.dreamcar__list {
  margin-inline: auto;
  column-gap: 10px;
}

.table-pict {
  display: none;
}

.desktop-pict {
  display: none;
}


@media only screen and (min-width: 300px) {

  .hero__img {
    width: 260px;
  }

  .hero__text-wrapper {
    top: 115px;
    left: 48px;
  }

  .form__search {
    width: 253px;
  }

  .form__btn {
    left: 204px;
  }
} 

@media only screen and (min-width: 320px) {

  .hero__img {
    width: 280px;
  }

  .hero__text-wrapper {
    top: 120px;
    left: 56px;
  }

  .form__search {
    width: 272px;
  }

  .form__btn {
    left: 223px;
  }
}

@media only screen and (min-width: 340px) {

  .hero__img {
    width: 300px;
  }

  .hero__text-wrapper {
    top: 115px;
    left: 66px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__desc {
    font-size: 11px;
  }

  .form__search {
    width: 292px;
  }

  .form__btn {
    left: 243px;
  }

  .cars__item {
    width: 265px;
  }

  .cars__img {
    width: 230px;
    height: 145px;
  }

  .service__item {
    width: 265px;
  }
}

@media only screen and (min-width: 360px) {

  .hero__img {
    width: 320px;
  }

  .hero__text-wrapper {
    top: 120px;
    left: 75px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__desc {
    font-size: 11px;
  }

  .form__search {
    width: 312px;
  }

  .form__btn {
    left: 263px;
  }

  .cars__item {
    width: 285px;
  }

  .cars_list {
    column-gap: 75px;
  }

  .cars__img {
    width: 250px;
    height: 153px;
  }

  .service__item {
    width: 265px;
  }

  .dreamcar__view-link {
    font-size: 14px;
  }

  .community__link {
    width: 120px;
    height: 36px;
  }

  .user__title {
    font-size: 14px;
  }

  .user__link {
    font-size: 10px;
  }

  .community__user {
    margin-left: 33px;
  }

  .community__user::before {
    width: 30px;
    height: 30px;
    top: 4px;
    left: -36px;
  }

  .community__user::after {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 187px;
  }

  .stars__item {
    width: 17px;
    height: 17px;
  }

  .service__title {
    font-size: 20px;
  }

  .service__desc {
    font-size: 12px;
  }

  .service__item {
    width: 285px;
  }

}

@media only screen and (min-width: 380px) {

  .hero__img {
    width: 340px;
  }

  .hero__text-wrapper {
    top: 120px;
    left: 85px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__desc {
    font-size: 11px;
  }

  .form__search {
    width: 332px;
    font-size: 12px;

  }

  .form__btn {
    left: 283px;
    bottom: 50px;
  }

  .cars__item {
    width: 305px;
  }

  .cars_list {
    column-gap: 75px;
  }

  .cars__img {
    width: 270px;
    height: 163px;
  }

  .service__item {
    width: 265px;
  }

  .dreamcar__view-link {
    font-size: 14px;
  }

  .community__link {
    width: 120px;
    height: 36px;
  }

  .user__title {
    font-size: 14px;
  }

  .user__link {
    font-size: 10px;
  }

  .community__user {
    margin-left: 33px;
  }

  .community__user::before {
    width: 30px;
    height: 30px;
    top: 4px;
    left: -36px;
  }

  .community__user::after {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 187px;
  }

  .stars__item {
    width: 17px;
    height: 17px;
  }

  .service__title {
    font-size: 20px;
  }

  .service__desc {
    font-size: 12px;
  }

  .service__item {
    width: 305px;
  }

  
}

@media only screen and (min-width: 390px) {
  
  .hero {
    padding-top: 20px;
  }
  
  .hero__inner {
    position: relative;
  }
  
  .hero__img {
    width: 355px;
  }
  
  
  .hero__text-wrapper {
    position: absolute;
    width: 283px;
    top: 30px;
    left: 35px;
  }
  
  .hero__title {
    margin: 0;
    margin-bottom: 6px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .hero__desc {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form__search {
    width: 350px;
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    padding-block: 20px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
  }
  
  .form {
    position: absolute;
    top: 257px;
    left: 3px;
  }
  
  .form__btn {
    background-image: url("/images/formsearchicon.svg");
    background-size: cover;
    background-position: center;
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    right: -26px;
    bottom: 0;
    position: relative;
    left: 294px;
    bottom: 54px;
  }
  
  /* section dreamcar style  */
  
  .dreamcar {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  
  .dreamcar__text-wrapper {
    width: 321px;
    margin-inline: auto;
  } 
  
  .dreamcar__title-wrap {
    width: 232px;
    margin-inline: auto;
  }
  
  .dreamcar__title {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
  }
  
  .dreamcar__desc {
    margin: 0;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .dreamcar__list {
    display: flex;
    column-gap: 14px;
  }
  
  .dreamcar__link {
    text-decoration-line: none;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-block: 14px;
    padding-inline: 20px;
    border-radius: 100px;
    border: 1.5px solid #E5E7EA;
    background: #FFF;
  }
  
  .dream-child {
    background-color: #299764;
    color: #fff;
  }
  
  .dreamcar__menu-wrapper {
    margin-top: 30px;
  }
  
  .cars {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 10px;
  }
  
  .cars__item {
    width: 358px;
    border-radius: 16px;
    background: #F5F5F5;
    padding-block: 24px;
    padding-inline: 20px 24px;
    margin-inline: auto;
  }
  
  .cars__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .cars__desc {
    margin: 0;
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cars__img {
    width: 330px;
    height: 200px;
  }
  
  .features {
    display: flex;
    width: 314px;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 24px;
  }
  
  .features__item:nth-child(1):before {
    background-image: url("/images/usericon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 4px;
    margin-right: 12px;
  }
  
  .features__item:nth-child(2):before {
    background-image: url("/images/gearicon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 2px;
    margin-right: 10px;
  }
  
  .features__item:nth-child(2) {
    margin-left: 13px;
  }
  
  .features__item:nth-child(3):before {
    background-image: url("/images/fileusericon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 2px;
    margin-right: 10px;
  }
  
  .features__item:nth-child(4):before {
    background-image: url("/images/petrolicon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 2px;
    margin-right: 10px;
  }
  
  .dreamcar__view-link-wrap {
    text-align: center;
  }
  
  .dreamcar__view-link {
    text-decoration-line: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 18px 30px;
    gap: 8px;
    border-radius: 100px;
    background: #299764;
    margin-top: 30px;
    margin-inline: auto;
  }
  
  /* section community styles begin  */
  
  .site-main {
    background-color: #F5F5F5;                                   
  }
  
  .hero {
    background-color: #fff;
  }
  
  .dreamcar {
    background-color: #fff;
  }
  
  .community {
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .community__inner {
  }
  
  .community__text-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px 16px 0px 0px;
    background-color: #fff;
  }
  
  .community__span {
    color: #4285F4;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .community__span::before {
    background-image: url("/images/googleicon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 4px;
  }
  
  .community__title {
    margin: 0;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 131.579% */
    margin-top: 16px;
  }
  
  .community__gradient {
    background-image: url("/images/gradient.svg");
    width: 100%;
    height: 2px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    margin-block: 30px;
  }
  
  .community__decs {
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 16px;
  }
  
  .instagram-link {
    text-decoration-line: none;
    width: 194px;
    height: 58px;
    background-image: url("/images/instagrampict.svg");
    display: inline-block;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    background-position: 0 0;
  }
  
  .instagram-link:hover {
    background-image: url("/images/propertyhover.svg");
  }
  
  .community__link {
  }
  
  
  .community__comments-wrapper {
    border-radius: 0px 0px 16px 16px;
    background-color: #299764;
    padding: 20px;
  }
  
  .community__comment {
    border-radius: 16px;
    background: #FFF;
    padding: 16px;
    position: relative;
  }
  
  .community__user {
    width: 180px;
    margin-left: 50px;
  }
  
  .community__user::before {
    background-image: url("/images/avamen.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
    content: "";
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    left: 15px;
  }
  
  .community__user::after {
    background-image: url("/images/googleicon.svg");
    width: 38px;
    height: 38px;
    display: inline-block;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .user__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .user__link {
    margin: 0;  
    color: #555;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .community__decs {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-block: 14px 32px;
    /* border-bottom: 1px solid #F5F5F5; */
  }
  
  .stars-wrapper {
    display: flex;
    column-gap: 16px;
  }
  
  .stars__list {
    display: flex;
    column-gap: 6px;
  }
  
  .stars__item {
    width: 20px;
    height: 20px;
    background-image: url("/images/staricon.svg");
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* section community styles finish */
  
  
  /* section brands styles begin */
  
  .brands {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .brands__inner
  
  .brands__title {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
  }
  
  .brands__list {
    max-height: 360px;
    display: flex;
    column-gap: 20px;
    overflow-x: auto;
    background-color: transparent;
  }
  
  /* section brands styles finish */
  
  /* section service styles begin   */
  
  .service {
    background-color: #fff;
  }
  
  .service__inner {
    
  }
  
  .service__text-wrapper {
    width: 321px;
    margin-inline: auto;
    margin-bottom: 30px;
  } 
  
  .service__title {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
  }
  
  .service__desc {
    margin: 0;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .service__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .service__item {
    width: 358px;
    border-radius: 20px;
    background-color: #F5F5F5;
    padding-block: 30px;
    padding-left: 24px;
    position: relative;
  }
  
  .service__item-inner {
    width: 250px;
  }
  
  .service__item-inner::after {
    background-image: url("/images/bookonline.svg");
    width: 40px;
    height: 40px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    right: 25px;
    top: 32px;
  }
  
  .service__item-innerr::after {
    background-image: url("/images/shieldimg.svg");
    width: 40px;
    height: 40px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    right: 25px;
    top: 32px;
  }
  
  .service__item-innerrr::after {
    background-image: url("/images/userclock.svg");
    width: 40px;
    height: 40px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    right: 25px;
    top: 32px;
  }
  
  .service__item-innerrrr::after {
    background-image: url("/images/walleticon.svg");
    width: 40px;
    height: 40px;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    right: 25px;
    top: 32px;
  }
  
  .service__list-title {
    margin: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
  }
  
  .service__list-desc {
    margin: 0;
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  
  /* section service styles finish  */
  
  /* section safe styles begin  */
  
  .safe {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1.5px solid #E5E7EA;
  }
  
  .safe__inner {
    border-radius: 20px;
    border: 1.5px solid #E5E7EA;
    background: var(--Background-White, #FFF);
    padding-block: 24px;
    padding-inline: 20px;
  }
  
  .safe__text-wrapper {
    width: 321px;
    margin-inline: auto;
    margin-bottom: 40px;
  }
  
  .safe__title {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
    width: 183px;
  }
  
  .safe__desc {
    margin: 0;
    color: #555;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }
  
  .safe__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
  }
  
  .safe__item {
    border-radius: 16px;
    background-color: #F5F5F5;
    padding-inline: 14px;
    padding-top: 70px;
    padding-bottom: 14px;
  }
  
  .safe__list-desc  {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
  }
  
  .safe__item:first-child:after {
    background-image: url("/images/flaskicon.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    top: 22px;
    right: 10px;
  }
  
  .safe__item:nth-child(2):after {
    background-image: url("/images/heartbeat.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    top: 155px;
    right: 10px;
  }
  
  .safe__item:nth-child(3):after {
    background-image: url("/images/folderlock.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    top: 275px;
    right: 10px;
  }
  
  /* section safe styles finish  */
  
  /* site footer styles begin  */
  
  .site-footer {
    padding-top: 20px;
  }
  
  .footer__start-inner {
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  .footer__logo-inner {
    width: 199px;
  }
  
  .footer__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    border-bottom: 1.5px solid #E5E7EA;
    padding-bottom: 32px;
  }
  
  .footer__logo {
    width: 100px;
    height: 26px;
  }
  
  .footer__desc {
    margin: 0;
    color: #555;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-top: 16px;
  }
  
  
  .footer__text {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }
  
  .footer__list {
    display: flex;
    flex-direction: column;
    margin-block: 0;
    padding-left: 0;
    list-style-type: none;
    row-gap: 12px;
  }
  
  .footer__link {
    text-decoration-line: none;
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .footer__menu-wrapper:nth-child(1) {
    width: 93px;
    margin-bottom: 69px;
    margin-right: 71px;
  }
  
  .footer__menu-wrapper:nth-child(2) {
    width: 88px;
  }
  
  .footer__menu-wrapper:nth-child(3) {
    width: 79px;
    margin-right: 67px;
  }
  
  .footer__menu-wrapper:nth-child(4) {
    width: 204px;
  }
  
  .footer__bottom-inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    
  }
  
  .footer__time {
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  
  .footer__bottom-text-wrap:nth-child(1) {
    margin-right: 30px;
  }
  
  .footer__bottom-text-wrap:nth-child(2) {
    
  }
  
  .footer__bottom-text-wrap:nth-child(3) {
    margin-top: 40px;
  }
  
  .hero__img {
    margin-inline: auto;
  }
  
  .service__item {
    margin-inline: auto;
  }
  
  .dreamcar__list {
    width: 328px;
    margin-inline: auto;
    column-gap: 10px;
  }
  
  .table-pict {
    display: none;
  }
  
  /* site footer styles finish */
  
}

@media only screen and (min-width: 400px) {
  
  .form {
    left: 6px;
  }
} 

@media only screen and (min-width: 405px) {
  
  .form {
    left: 8px;
  }
} 

@media only screen and (min-width: 410px) {
  
  .form {
    left: 10px;
  }
} 

@media only screen and (min-width: 415px) {
  
  .form {
    left: 13px;
  }
} 

@media only screen and (min-width: 425px) {
  
  .form {
    left: 18px;
  }
} 

@media only screen and (min-width: 435px) {
  
  .form {
    left: 22px;
  }
} 

@media only screen and (min-width: 445px) {
  
  .hero__text-wrapper {
    left: 62px;
  }
  
  .form {
    left: 28px;
  }
} 

@media only screen and (min-width: 455px) {
  
  .hero__img {
    width: 402px;
  }
  
  .hero__text-wrapper {
    left: 65px;
  }
  
  .form {
    top: 300px;
    left: 36px;
  }
  
  .cars__item {
    width: 380px;
  }
  
  .cars__img {
    width: 340px;
  }
} 

@media only screen and (min-width: 465px) {
  
  .hero__img {
    width: 402px;
  }
  
  .hero__text-wrapper {
    left: 65px;
  }
  
  .form {
    top: 306px;
    left: 40px;
  }
  
  .cars__item {
    width: 380px;
  }
  
  .cars__img {
    width: 340px;
  }
} 

@media only screen and (min-width: 480px) {
  
  .hero__img {
    width: 430px;
  }
  
  .hero__text-wrapper {
    left: 85px;
  }
  
  .form {
    top: 330px;
    left: 46px;
  }
  
  .cars__item {
    width: 400px;
  }
  
  .cars__img {
    width: 350px;
  }
  
  .service__item {
    width: 400px;
  }
} 

@media only screen and (min-width: 493px) {
  
  .hero__img {
    width: 430px;
  }
  
  .hero__text-wrapper {
    left: 85px;
  }
  
  .form {
    top: 330px;
    left: 56px;
  }
  
  .cars__item {
    width: 400px;
  }
  
  .cars__img {
    width: 350px;
  }
  
  .service__item {
    width: 400px;
  }
  
  .form__btn {
    left: 295px;
    top: -55px;
  }
} 

@media only screen and (min-width: 503px) {
  
  .hero__img {
    width: 430px;
  }
  
  .hero__text-wrapper {
    left: 85px;
  }
  
  .form {
    top: 311px;
    left: 56px;
  }
  
  .cars__item {
    width: 400px;
  }
  
  .cars__img {
    width: 350px;
  }
  
  .service__item {
    width: 400px;
  }
  
  .form__btn {
    left: -60px;
    top: 20px;
  }
} 

@media only screen and (min-width: 520px) {
  
  .hero__img {
    width: 465px;
  }
  
  .hero__text-wrapper {
    left: 100px;
  }
  
  .form {
    top: 342px;
    left: 66px;
  }
  
  .cars__item {
    width: 425px;
  }
  
  .cars__img {
    width: 370px;
  }
  
  .service__item {
    width: 435px;
  }
  
  .form__btn {
    left: -60px;
    top: 20px;
  }
} 

@media only screen and (min-width: 550px) {
  
  .hero__img {
    width: 490px;
  }
  
  .hero__text-wrapper {
    left: 119px;
  }
  
  .form {
    top: 363px;
    left: 82px;
  }
  
  .cars__item {
    width: 445px;
  }
  
  .cars__img {
    width: 390px;
    height: 230px;
  }
  
  .service__item {
    width: 465px;
  }
  
  .form__btn {
    left: -60px;
    top: 20px;
  }
} 

@media only screen and (min-width: 590px) {
  
  .hero__img {
    width: 525px;
  }
  
  .hero__text-wrapper {
    left: 140px;
  }
  
  .hero__title {
    font-size: 30px;
  }
  
  .hero__desc {
    font-size: 15px;
  }
  
  .form {
    top: 391px;
    left: 82px;
  }
  
  .form__search {
    width: 390px;
    font-size: 18px;
  }
  
  .cars__item {
    width: 495px;
  }
  
  .cars__img {
    width: 435px;
    height: 255px;
  }
  
  .service__item {
    width: 465px;
  }
  
  .form__btn {
    left: -60px;
    top: 20px;
  }
  
  .dreamcar__title {
    font-size: 29px;
  }
  
  .dreamcar__desc {
    font-size: 16px;
  }
  
  .service__title {
    font-size: 29px;
  }
  
  .service__desc {
    font-size: 16px;
  }
  
} 

@media only screen and (min-width: 620px) {
  
  .hero__img {
    width: 575px;
  }
  
  .hero__text-wrapper {
    left: 140px;
  }
  
  .hero__title {
    font-size: 35px;
  }
  
  .hero__desc {
    font-size: 20px;
  }
  
  .form {
    top: 450px;
    left: 50px;
  }
  
  .form__search {
    width: 490px;
    font-size: 20px;
  }
  
  .form__btn {
    left: 433px;
    top: -56px;
  }
  
  
  
  
  .dreamcar__title {
    font-size: 29px;
    margin-bottom: 12px;
  }
  
  .dreamcar__desc {
    font-size: 20px;
  }
  
  .dreamcar__menu-wrapper {
    margin-top: 50px;
  }
  
  .dreamcar__list {
    width: 400px;
  }
  
  .dreamcar__link {
    font-size: 19px;
  }
  
  .dreamcar__view-link {
    font-size: 25px;
  }
  
  
  
  .cars__title {
    font-size: 35px;
  }
  
  .cars__desc {
    font-size: 20px;
  }
  
  .features {
    width: 500px;
    column-gap: 215px;
  }
  
  .features__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cars {
    row-gap: 20px;
  }
  
  .cars__item {
    width: 540px;
  }
  
  .cars__img {
    width: 525px;
    height: 315px;
  }
  
  .service__text-wrapper {
    width: 400px;
  }
  
  .service__title {
    font-size: 35px;
    margin-bottom: 12px;
  }
  
  .service__desc {
    font-size: 20px;
  }
  
  .service__list {
    row-gap: 20px;
  }
  
  .service__item {
    width: 530px;
  }
  
  .service__list-title {
    font-size: 35px;
  }
  
  .service__list-desc {
    font-size: 19px;
    line-height: 30px;
  }
  
  .safe__text-wrapper {
    width: 500px;
  }
  
  .safe__title {
    font-size: 30px;
    margin-bottom: 12px;
  }
  
  .safe__desc {
    font-size: 20px;
    line-height: 30px;
  }
  
  .safe__list-desc {
    font-size: 18px;
    line-height: 40px;
  }
  
  .safe__item:nth-child(1)::after {
    width: 45px;
    height: 45px;
  }
  
  .safe__item:nth-child(2)::after {
    width: 45px;
    height: 45px;
  }
  
  .safe__item:nth-child(3)::after {
    width: 45px;
    height: 45px;
  }
  
  /* google  */
  
  .community__span {
    font-size: 25px;
  }
  
  .community__span::before {
    width: 50px;
    height: 50px;
    background-position: 0 13px;
  }
  
  .community__title {
    font-size: 44px;
    line-height: 60px;
  }
  
  .community__decs {
    font-size: 22px;
  }
  
  .community__user::before {
    width: 44px;
    height: 44px;
  }
  
  .community__user::after {
    width: 44px;
    height: 44px;
  }
  
  .user__title {
    font-size: 19px;
  }
  
  .user__link {
    font-size: 15px;
  }
  
  .stars__item {
    width: 30px;
    height: 30px;
  }
  
  
} 

@media only screen and (min-width: 637px) {
  
  .hero__img {
    width: 575px;
  }
  
  .hero__text-wrapper {
    left: 130px;
    width: 350px;
  }
  
  .hero__title {
    font-size: 39px;
  }
  
  .hero__desc {
    font-size: 21px;
  }
  
  .form {
    top: 450px;
    left: 36px;
  }
  
  .form__search {
    width: 525px;
    font-size: 20px;
  }
  
  .form__btn {
    left: 466px;
    top: -57px;
  }
  
  .dreamcar__title-wrap {
    width: 300px;
  }
  
  .dreamcar__title {
    font-size: 33px;
    margin-bottom: 12px;
  }
  
  .dreamcar__text-wrapper {
    width: 400px;
  }
  
  .dreamcar__desc {
    font-size: 25px;
  }
  
  .dreamcar__menu-wrapper {
    margin-top: 50px;
  }
  
  .dreamcar__list {
    width: 400px;
  }
  
  .dreamcar__link {
    font-size: 19px;
  }
  
  .dreamcar__view-link {
    font-size: 25px;
  }
  
  
  
  .cars__title {
    font-size: 35px;
  }
  
  .cars__desc {
    font-size: 20px;
  }
  
  .features {
    width: 500px;
    column-gap: 215px;
  }
  
  .features__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cars {
    row-gap: 20px;
  }
  
  .cars__item {
    width: 540px;
  }
  
  .cars__img {
    width: 525px;
    height: 315px;
  }
  
  .service__text-wrapper {
    width: 400px;
  }
  
  .service__title {
    font-size: 35px;
    margin-bottom: 12px;
  }
  
  .service__desc {
    font-size: 20px;
  }
  
  .service__list {
    row-gap: 20px;
  }
  
  .service__item {
    width: 530px;
  }
  
  .service__list-title {
    font-size: 35px;
  }
  
  .service__list-desc {
    font-size: 19px;
    line-height: 30px;
  }
  
  .safe__text-wrapper {
    width: 500px;
  }
  
  .safe__title {
    font-size: 30px;
    margin-bottom: 12px;
  }
  
  .safe__desc {
    font-size: 20px;
    line-height: 30px;
  }
  
  .safe__list-desc {
    font-size: 18px;
    line-height: 40px;
  }
  
  .safe__item:nth-child(1)::after {
    width: 45px;
    height: 45px;
  }
  
  .safe__item:nth-child(2)::after {
    width: 45px;
    height: 45px;
  }
  
  .safe__item:nth-child(3)::after {
    width: 45px;
    height: 45px;
  }
  
  /* google  */
  
  .community__span {
    font-size: 25px;
  }
  
  .community__span::before {
    width: 50px;
    height: 50px;
    background-position: 0 13px;
  }
  
  .community__title {
    font-size: 44px;
    line-height: 60px;
  }
  
  .community__decs {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  
  .community__user::before {
    width: 44px;
    height: 44px;
  }
  
  .community__user::after {
    width: 44px;
    height: 44px;
  }
  
  .user__title {
    font-size: 19px;
  }
  
  .user__link {
    font-size: 15px;
  }
  
  .stars__item {
    width: 30px;
    height: 30px;
  }
  
  
} 

@media only screen and (min-width: 658px) {
  
  .form__btn {
    left: 487px;
  }
  
  .form__search {
    width: 545px;
  }
  
  .cars__item {
    width: 560px;
  }
  
  .service__item {
    width: 560px;
  }
}

@media only screen and (min-width: 678px) {
  
  .hero__img {
    width: 636px;
  }
  
  .form {
    top: 498px;
  }
  
  .form__btn {
    left: 508px;
  }
  
  .form__search {
    width: 566px;
  }
  
  .cars__item {
    width: 560px;
  }
  
  .service__item {
    width: 560px;
  }
}

@media only screen and (min-width: 699px) {
  .form__search {
    width: 582px;
  }
  
  .form__btn {
    left: 524px;
  }
  
  .hero__text-wrapper {
    left: 162px;
  }
}

@media only screen and (min-width: 750px) {
  
  .form__search {
    width: 635px;
  }
  
  .mobile-pict {
    display: none;
  }
  
  .table-pict {
    display: block;
  }
  
  .hero__img {
    width: 711px
  }
  
  .hero__text-wrapper {
    width: 425px;
    left: 148px;
    top: 64px;
  }
  
  .hero__title {
    font-size: 36px;
  }
  
  .hero__desc {
    font-size: 16px;
  }
  
  .form {
    top: 415px;
  }
  
  .form__btn {
    left: 577px;
  }
  
  .cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-inline: auto;
    margin-top: 40px;
  }
  
  .cars__item {
    width: 343px;
    margin-inline: 0;
  }
  
  .cars__title {
    font-size: 22px;
  }
  
  .cars__desc {
    font-size: 13px;
  }
  
  .cars__img {
    width: 305px;
    height: 180px;
  }
  
  .features {
    width: 330px;
    column-gap: 40px;
  }
  
  .features__item {
    font-size: 15px;
  }
  
  .community__text-wrapper {
    display: flex;
  }
  
  .community__span-wrapper {
    /* width: 320px; */
    /* margin: 0 auto; */
  }
  
  .community__gradient {
    /* background-image: none; */
    transform: rotate(-90deg);
    margin: 0;
    margin-top: 100px;
  }
  
  .community__decs-wrap {
    /* width: 275px; */
  }
  
  .community__decs {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .community__title {
    font-size: 24px;
    width: 100%;
  }
  
  .community__span {
    font-size: 16px;
    width: 100%;
    
  }
  
  .community__span::before {
    width: 20px;
    height: 20px;
    background-position: 0 4px;
  }
  
  .community__text-wrapper {
  }
  
  .service__text-wrapper {
    width: 684px;
  }
  
  .service__title {
    font-size: 36px;
  }
  
  .service__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service__desc {
    font-size: 16px;
  }
  
  .service__item {
    width: 335px;
    margin-inline: 0;
  }
  
  .service__item-inner {
    width: 226px;
  }
  
  .service__list-title {
    font-size: 28px;
    
  }
  
  .service__list-desc {
    font-size: 14px;
  }
}




@media only screen and (min-width: 1024px) {
  
  .site-header {
    border-bottom: none;
  }
  
  .site-header__inner {
    display: flex;
    padding-block: 18px;
  }
  
  .hamburg-btn {
    display: none;
  }
  
  .site-header__navbar-menu {
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation__start {
    display: none;
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    top: auto;
    left: auto;
    padding: 0;
    z-index: 1;
    height: auto;
  }
  
  .navigation__wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-right: 24px;
  }
  
  .navbar {
    margin-left: auto;
    margin-right: 24px;
  }
  
  .navbar__list {
    flex-direction: row;
    margin-right: 30px;
  }
  
  .navigation__bottom {
    padding: 0;
    margin: 0;
  }
  
  .navbar__item {
    padding-block: 18px;
    padding-inline: 16px;
  }
  
  .navbar__item:nth-child(2) {
    position: relative;
    z-index: 1;
    
  }
  
  .navbar__item:nth-child(2)::after {
    background-image: url("/images/caretdown.svg");
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    background-position: 0 4px;
  }
  
  .navbar__item:nth-child(2):hover::after {
    background-image: url("/images/carettop.svg");
  }
  
  
  .navbar__item:nth-child(3)::after {
    background-image: url("/images/caretdown.svg");
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    background-position: 0 4px;
  }
  
  .navbar__item:nth-child(3):hover::after {
    background-image: url("/images/carettop.svg");
  }
  
  .navbar__item:nth-child(3) {
    position: relative;
    z-index: 1;
    /* padding-right: 38px; */
  }
  
  .navbar__item:hover {
    border-radius: 100px;
    background: #F5F5F5;
  }
  
  .navbar__item:nth-child(2):hover > .dropdown {
    display: block;
  }
  
  .navbar__item:nth-child(3):hover > .dropdown {
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15); 
    row-gap: 0;
    margin-top: 0;
  }
  
  .dropdown__item {
    padding-left: 16px;
    padding-block: 18px;
  }
  
  .dropdown__item:hover {
    background-color: #F5F5F5;
    border-radius: 100px;
  }
  
  .dropdown__item:active {
    background-color: #299764;
    border-radius: 100px;
    color: #fff;
  }
  
  .darkmode-btn:hover {
    background-image: url("/images/blackmoon.svg");
  }
  
  .darkmode-btn:active {
    background-image: url("/images/whitemoon.svg");
    background-color: #299764;
  } 
  
  .login-link:hover {
    border-radius: 100px;
    background: #077743;
  }
  
  .login-link:active {
    border-radius: 100px;
    background: #F5F5F5;
    color: #000;
    
  }
  
  
}